h1 {
  text-align: center;
}
hgroup {
  text-align: center;
}

.watch {
  margin: 60px auto;
  background-image: url(./images/seiko-sbgx263/dial.png);
  background-size: 100%;
  position: relative;
}

.hand {
  position: absolute;
  top: 50%;
  left: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.hand-second {
  z-index: 3;
  background-image: url(./images/seiko-sbgx263/hand-second.png);
}
.hand-minute {
  z-index: 2;
  background-image: url(./images/seiko-sbgx263/hand-minute.png);
}
.hand-hour {
  z-index: 1;
  background-image: url(./images/seiko-sbgx263/hand-hour.png);
}
